################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BussenApp/bin/Debug
/BussenApp/obj
*.user
*.xsd
